<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/public/js/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/estilos.css" rel="stylesheet">
        <title> Inmuebles </title>
    </head>
    <body>
    <div class="container">
    <% if(locals.mensaje) { %>
        <div class="<%= mensaje.estilo %>">
            <%= mensaje.texto %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <h1><a href="/">Inmuebles</a></h1>
