<form id="formulario-filtros" class="form" method="GET" action="/inmuebles">
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="filtro_precio_input">Precio máximo </label>
                <input type="number" class="form-control" id="filtro_precio_input" name="filtro_precio_input" value="<%= locals.filtros?filtros.filtro_precio_anterior:"" %>">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="filtro_superficie_input">Superficie mínima</label>
                <input type="number" class="form-control" id="filtro_superficie_input" name="filtro_superficie_input"  value="<%= locals.filtros?filtros.filtro_superficie_anterior:"" %>">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="filtro_habitaciones_input">Mínimo de habitaciones</label>
                <input type="number" class="form-control" id="filtro_habitaciones_input" name="filtro_habitaciones_input"  value="<%= locals.filtros?filtros.filtro_habitaciones_anterior:"" %>">
            </div>
        </div>
        <div class="col-3">
            <button onclick="limpiarFitros()" class="btn mb-2">Limpiar filtros</button>
            <button type="submit" class="btn mb-2">Filtrar</button>
        </div>
    </div>
</form>
