
<%- include("cabecera"); -%>
        <h3 class="text-center">Bienvenido a la gestión de inmuebles</h3>
        <ul>
        <li><a href="/nuevo_inmueble">Crear imueble</a></li>
        <li><a href="/inmuebles">Listado de inmuebles</a></li>
        </ul>
<%- include("pie"); -%>