<%- include("cabecera"); -%>
<form method="POST" action="/inmuebles" enctype="multipart/form-data"> 
    <h3>Nuevo inmueble</h3>
    <p>
        <label for="descripcion_input"> Nombre del inmueble: </label>
        <input type="text" id="descripcion_input" name="descripcion_input">
    </p>
    <p>
        <label for="tipo_input"> Tipo de inmueble: </label>
        <select id="tipo_input" name="tipo_input">
            <% tiposInmueble.forEach(tipo => { %>
                <option value="<%=tipo._id%>"> <%= tipo.nombre %> </option>
            <% }) %>
        </select>
    </p>
    <p>
        <label for="habitaciones_input"> Número de habitaciones:</label>
        <input type="number" min="1" id="habitaciones_input" name="habitaciones_input"/>
    </p>
    <p>
        <label for="superficie_input"> Superficie (m²):</label>
        <input type="number" min="25" id="superficie_input" name="superficie_input"/>
    </p>
    <p>
        <label for="precio_input"> Precio:</label>
        <input type="number" min="10000" step="500" id="precio_input" name="precio_input"/>
    </p>
    <p>
        <label for="imagen_input"> Foto: </label>
        <input type="file" id="imagen_input" name="imagen_input" accept="image/*"/>
    </p>
    <p>
        <input type="submit" value="Crear" class="btn btn-default"/>
    </p>
</form>
<%- include("pie"); -%>