body{
    background-color:whitesmoke;
    font-family: Arial;
}

.container{
    padding-top: 50px;
}

.miniatura-inmueble{
    max-width: 100%;;
}

.fila-inmueble{
    vertical-align: middle;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid grey;
}

.fila-inmueble div {
    vertical-align: middle;
}

#formulario-filtros *{
    vertical-align: middle;
}